<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulier.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
</head>
<body>
    <div class="admin">
        <h2>Reparatie</h2>
        <button id="btn_admin" class="button button_black" type="button" onclick="location.href='{% url 'computers' %}'">Admin</button><br><br>
    </div>

    {% if computers %}
        <div id="table_computers">
            <table id="computers">
                <tr>
                    <th>SKU</th>
                    <th>Merk</th>
                    <th>Type</th>
                    <th>Processor</th>
                    <th>Werkgeheugen</th>
                    <th>Defecten</th>
                </tr>
                {% for computer in computers %}
                    {% if not computer.gerepareerd %}
                        <tr ondblclick="location.href='{% url 'reparatie_detail' computer.id %}'">
                            <td > {{ computer.id }} </td>
                            <td> {{ computer.merk }} </td>
                            <td> {{ computer.type }} </td>
                            <td> {{ computer.processor }} </td>
                            <td> {{ computer.werkgeheugen }} </td>
                            <td> {{ computer.defecten }} </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endif %}
</body>
</html>